@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="alert alert-info pt-2">
    Thông tin cha me tôi
</div>

<div class="mt-2">
    Họ tên cha:  <br />
    Ngày sinh:  <br />
    Nghề nghiệp:
</div>

<div class="mt-2">
    Họ tên mẹ:  <br />
    Ngày sinh:  <br />
    Nghề nghiệp:
</div>