
<div>
    <h2>Chào bạn đến gia đình mình</h2>
    
    <ul>
        <li> <a asp-controller="GioiThieu" asp-action="BanThan">Thông tin bản thân</a> </li>
        <li> <a asp-controller="GioiThieu" asp-action="ChaMe">Thông tin cha mẹ</a> </li>
        <li> <a asp-controller="GioiThieu" asp-action="AnhChiEm">Thông tin Anh chị em</a> </li>
    </ul>

</div>