@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Chào mừng bạn đến với ASP.Net Core MVC</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h3> 5 + 3 = @(5 + 3)</h3>

@{
    var x = 15;
}

@if (x % 2 == 0)
{
    <div>@x là số chẳn </div>
}
else
{
    <div>@x là số lẻ </div>
}

<hr />

<!--sinh giao dien hien thi bang cuu chuong 3-->
<ul>
    @for (var i = 1; i <= 10; i++)
    {
        <li>3 x @i= @(3*i) </li>
    }
</ul>

@section Scripts
{
    <script>
        let chao = function () {
            alert("Chào bạn");
        }

    </script>

}